<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Laman Web Asas Sains Komputer Tingkatan 1 Bab 4 Kod Arahan HTML. Kod HTML dengan LIVE Preview.">
    <meta name="og:title" property="og:title" content="Asas Sains Komputer : Mengekod HTML secara LIVE Preview">
    <meta name="robots" content="index, follow">


    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/kuiz-styles.css">
    <script defer src="https://kit.fontawesome.com/cdf80c6223.js" crossorigin="anonymous"></script>

    <title>ASK HTMLLY</title>
</head>
<body>