
           <div class="container adminLogin text-center">
            <a href="/" class="mr-2"> <img class="logo mb-5" src="/img/logo.png" alt="logo"></a>

           

               <h4>Admin Login</h4>
            <form class="form-signin text-left" method="POST" action="/admin">
                <div class="form-label-group mb-3"><label for="inputEmail">Email address</label>
                  <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  
                </div>
  
                <div class="form-label-group mb-4"><label for="inputPassword">Kata Laluan</label>
                  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Kata Laluan" required>
                  
                </div>
  
                
                <button class="btn btn-lg btn-info btn-block text-uppercase" type="submit">Log Masuk</button>
                <hr class="my-4">
               
                  </p></a>
              </form>
           </div>
         