<div class="sidenav">
  <img class="logo" src="/img/logo.png" alt="logo">
  <a href="/admin" class="sidenav-item1">
    <h4>Welcome</h4>
  </a>
  <a href="/admin/admin-user" class="sidenav-item2" ">
    <h4>User List</h4>
  </a>
  
  <a href="/admin/profile" class="sidenav-item3" style="background-color: rgb(190, 190, 250)"">
    <h4>Profile</h4>
  </a>



  <button type="button" href="/admin/logout" class="btn btn-secondary btn-sm ml-3 mt-3"><i
      class="fas fa-sign-out-alt mr-2"></i>Logout</button>
</div>


<div class="main-nav">


  <div class="container-fluid d-flex justify-content-center">
    <div class="row text-center">
      <div class="col"> <img class="profile-img" src="/img/leovoon.jpg" alt="admin profile">
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <h4>Admin</h4>
      </div>
    </div>
  </div>

</div>

</div>



</div>