<!-- views/dashboard.ejs -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse "  id="navbarColor03">
      <div class="navbar-nav flex-column-reverse flex-md-row justify-content-center">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Home <span class="sr-only"></span></a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Belajar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="lesson1">1. Pengenalan HTML</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Coming Soon</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kuiz">Kuiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">Info</a>
        </li><li class="nav-item">
            <a class="nav-link" href="/codeplay" style="width: 140px;">Text Editor</a>
          </li>


         </ul>
  
         <ul id="mobileNav" class="navbar-nav flex-row justify-content-center">
            
              <li class="nav-item d-flex justify-content-center align-self-center mr-3"> 
                 <% if (user && user.isTeacher) { %>
              <span class="badge badge-info mr-2">Guru</span> 
                <% } %>
                 </li>
                <% if (user) { %>
                  <li class="nav-item d-flex justify-content-center align-self-center mr-3"> <%= user.name %>
                  </li> 
                  <li><a class="logout-btn btn btn-secondary " href="/users/logout"><span style="font-size: 1em; "><i class="fas fa-sign-out-alt mr-2"></i></span>Logout</a></li>
                  <% } else { %>
                <li class="nav-item "> <a class="register-btn btn btn-primary " href="/users/register"> <span style="font-size: 0.8em; margin-bottom: 5px; "><i class="fas fa-user-plus mr-2"></i></span>Daftar Baru</a></li>  
                <li class="nav-item"> <a class="login-btn btn btn-success ml-2" href="/users/login"><span style="font-size: 1em; "><i class="fas fa-sign-in-alt mr-2"></i></i></span>Login</a> </li>
                <% } %>
                

               
            
              
             
             

        
        </ul>
      
        </div>
  
           
            
      </div>
  </nav>

<main>
  <div id="landing" class="jumbotron text-center">
      <div class="jumbo-text animated fadeInUp delay-1.8s">
    <h1 class="greet">Selamat Datang! <%= user.name %>
    </h1>
    <p>Belajar HTML Asas Sains Komputer Tingkatan 1</p>

    <% if (user && user.isTeacher) {%>
      <!-- <a class="register-btn btn btn-lg btn-outline-primary mt-3 animated bounceIn delay-1.5s " href="/users/lesson1"></a> -->
      <% } else { %>
        <a id="registerBtn" class="register-btn btn btn-lg btn-outline-primary mt-3 animated bounceIn delay-1.5s " href="/users/lesson1">Jom belajar !</a>
      
      <% } %>
         
</div>



</div>



<div class="container">
       
    <div class="row ">
        <div class="col-lg-4  cardAlign ">
                <div class="card cardhover  text-white bg-secondary mb-5 animated fadeInUp delay-0.2s" style="max-width: 20rem;">

                        <div class="card-header">Nota Ringkas   <a href="/lesson1" class="noLinkEffect ">
                          <span style="font-size: 1.3em; color: whitesmoke; float: right;">
                        <i class="fas fa-arrow-circle-right "></i></span></a>
                        
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">DSKP <i class="fas fa-book-open"></i></h4>
                        <p class="card-text">
                          Standard pembelajaran adalah mengikut Dokumen Standard Kurikulum
                          Pentaksiran (DSKP) KSSM Asas Sains Komputer Tingkatan 1.</p>
                      </div>
                    </div>
        </div>
        <div class="col-lg-4 cardAlign" >
          
          <div class="card cardhover text-white bg-danger mb-5 animated fadeInUp delay-0.8s" style="max-width: 20rem;">
                <div class="card-header">Latihan <a href="/kuiz" class="noLinkEffect ">
                  <span style="font-size: 1.3em; color: whitesmoke; float: right;">
                <i class="fas fa-arrow-circle-right"></i></span></a></div>
                <div class="card-body">
                  <h4 class="card-title">Kuiz <i class="fas fa-poll-h"></i></h4>
                  <p class="card-text">
                     Kuiz disediakan selepas satu-satu topik pembelajaran. Kuiz interaktif berbentuk beraneka pilihan.
                  </p>
                </div>
              </div>
            </div>

        <div class="col-lg-4  cardAlign"> 
            <div class="card cardhover text-white bg-info mb-5 animated fadeInUp delay-1.2s" style="max-width: 20rem;">
                <div class="card-header">Belajar Bersama  <a href="/chat" class="noLinkEffect ">
                  <span style="font-size: 1.3em; color: whitesmoke; float: right;">
                <i class="fas fa-arrow-circle-right"></i></span></a></div>
                <div class="card-body">
                  <h4 class="card-title">Chat <i class="fas fa-comments"></i></h4>
                  <p class="card-text">
                    Perbincangan secara langsung sesama rakan atau guru Asas Sains Komputer. <em>Real-time</em> Chat.
                  </p>
                </div>
              </div></div>
    </div>
        
 
    </div>
</main>

<div class="container bgi animated infinite pulse slower ">
        <img src="/img/bgi.png" class="img-fluid bgi animated fadeInUp slow " alt="Responsive image">

</div>

<div class="container mb-5"><!-- Contact Form -->
  
      <div class="row">
  
        <div class="col-lg-8">
  
          <div class="card-body form">
  <form method="post" action="/">
            <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Hubungi Kami :</h3>
  

            <div class="row">
  
          <div class="col-md-6">
                <div class="md-form mb-3">
                        <label for="form-contact-name" class="">Nama Anda</label>
                  <input type="text" name="name" id="form-contact-name" class="form-control">
                  
                </div>
              </div>
             
              <div class="col-md-6">
                <div class="md-form mb-3">
                        <label for="form-contact-email">Email</label>
                  <input type="email" name="email" id="form-contact-email" class="form-control" required>
                  
                </div>
              </div>
             
            </div>
            <div class="row">
  
              <div class="col-md-6">
                    <div class="md-form mb-3">
                    <label for="form-contact-subject" class="">Subjek</label>
                 
                    <input type="text" name="subject" id="form-contact-subject" class="form-control text-capitalize" required>
                  </div>
              </div>
            
  
            </div>  
            <div class="row">
  
              <div class="col-md-12">
                <div class="md-form mb-0">
                        <label for="form-contact-message">Mesej anda</label>
                  <textarea rows="5" name="message" id="form-contact-message" class="form-control md-textarea" rows="3"></textarea>
                  
                  <button type="submit" class="btn btn-lg btn-success float-right mt-2"><i class="fas fa-paper-plane"></i></button>
                </div>
              </div>
           
            </div>
           
        </div>
    </form>
        </div>
        <div class="col-lg-4">
  
          <div class="card-body contact text-center h-100 white-text">
  
            <h3 class="my-4 pb-2">Maklumat Admin </h3>
            <ul class="text-lg-center list-unstyled ml-4">
                <li>
                    <img class="profile-img" src="/img/leovoon.jpg" alt="profile">
                </li>
              <li>
                <p><i class="fas fa-user-circle"></i>&nbsp; Leo Voon</p>
              </li>
              <li>
                <p><i class="fas fa-phone pr-2"></i>+60168739685</p>
              </li>
              <li>
                <p><i class="fas fa-envelope pr-2"></i>Admin</p>
              </li>
            </ul>

           
            <hr class="hr-light my-4">
           
  
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
  
    <!-- Form with header -->
  </div>

        
  

