@media only screen and (max-width: 600px) {
  #sidebar {
    display: none;
  position: absolute;
  width: 100vh;

  }


    .compose {
      padding: 10px;
    }

    .chat__messages {
      height: 70vh;
    }
  #send-location {
      display: none !important;
    }


  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  input {
    font-size: 14px;
  }
  
  h1 {
    margin-bottom: 16px;
  }
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
  }
  input {
    border: 1px solid #eee;
    padding: 12px;
    outline: none;
  }
  
  
  .centered-form__box {
    box-shadow: 0 0 10px 1px #76ffed9f;
    background: #f7f7fa;
    padding: 40px;
    width: 350px;
    margin: 0 auto;
  }
  .centered-form__box button {
    width: 100%;
  }
  .centered-form__box input {
    margin-bottom: 16px;
    width: 100%;

  }
  .chat {
    display: flex;
  }
  .chat__sidebar {
    height: 100vh;
    color: #fff;
    background: #333744;
    width: 225px;
    overflow-y: scroll;
  }
  .chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
  }

  #message-form {
margin: 2px 20px;
    
    }

  .chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0;
    overflow-y: scroll;
  }
  .message {
    margin-bottom: 16px;
  }
  .message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    padding: 1px 5px;
    border-radius: 25px;
    background-color: rgb(159, 255, 146);
  }

  .teacher__name{
    text-transform: capitalize;
    background-color: rgb(232, 153, 251);
  }

  .message__meta {
    color: #777;
    font-size: 14px;
  }
  .message a {
    color: #0070cc;
  }

  .message button::before {
      content: "<i class="fas fa-paper-plane"></i>";
  }
  #sendBtn {
    
        position: relative;
      
        display: block;
        margin: 2px auto;
        padding: 0 20px;
        
        overflow: hidden;
      
        border-width: 0;
        outline: none;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
        
        background-color: #2ecc71;
        color: #ecf0f1;
        
        transition: background-color .3s;
    
        
  }

  #sendBtn:hover, #sendBtn:focus {
    background-color: #27ae60;
  }
  
  #send-location {
    
        position: relative;
      
       
        margin: 2px auto;
        padding: 0 10px;
      
        overflow: hidden;
      
        border-width: 0;
        outline: none;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
        
        background-color: #2ecc71;
        color: #ecf0f1;
        
        transition: background-color .3s;
    
        
  }

  #send-location:hover, #send-location:focus {
    background-color: #27ae60;
  }
  
  .online-status {
      color: green;
      font-size: x-small;
  }

  

  .compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
  }
  .compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
  }
  .compose input {
    border: 1px solid rgba(231, 231, 231, 0.89);
    width: 70%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
  }
  .compose input:focus {
    border: 1px solid rgba(81, 203, 238, 1);
    border-radius: 5px;
  }
  .compose button {
    font-size: 14px;
  }
  .room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 20px;
    text-transform: uppercase;
    text-align: start;
    color: rgba(255, 236, 255, 0.678);
  }
  .list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0;
    color: whitesmoke;
    font-weight: bold;
  }
  .users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0;
  }

 .container-fluid.expandChat {
      display: flex;
      justify-content: center;
      align-self: center;
  }

